## Data Preprocessing

The purpose of this notebook is to preprocess the datasets, i.e.
* create subsets with data of interest,
* deal with missing values,
* combine both datasets,
* create datasets to be used for statistical analyses and modelling.

The datasets to be analyzed are
* the Happy Planet Index for 2016 (see https://happyplanetindex.org/),
* the World Development Indicators (1960 - 2019) by the World Bank (see https://datacatalog.worldbank.org/dataset/world-development-indicators)

### Import standard libraries and datasets

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Import WDI data (World Development Indicators)
df_wdi = pd.read_csv('../data/raw_data/WDIData.csv')

In [3]:
# Import HPI dataset (Happy Planet Index)
df_hpi = pd.read_excel('../data/raw_data/hpi-data-2016.xlsx', sheet_name = 'Complete HPI data', header = 5, usecols = 'B:O')

In [4]:
### Data Wrangling

In [5]:
# Create DataFrame with WDI data for one year
# (in this case 2016, to be congruent with the HPI data)
year = '2016'
custom_list = [[df_wdi['Indicator Code'][row],df_wdi['Country Name'][row],df_wdi[year][row]] for row in range(len(df_wdi))]

df_columns = ['Indicator Code', 'Country Name', year]
custom_wdi_df = pd.DataFrame(custom_list, columns = df_columns)

In [6]:
print(custom_wdi_df.head())
print('\nShape:',custom_wdi_df.shape)

      Indicator Code Country Name       2016
0      PA.NUS.PPP.05   Arab World        NaN
1  PA.NUS.PRVT.PP.05   Arab World        NaN
2     EG.CFT.ACCS.ZS   Arab World  84.510171
3     EG.ELC.ACCS.ZS   Arab World  89.678685
4  EG.ELC.ACCS.RU.ZS   Arab World  79.665635

Shape: (377256, 3)

In [7]:
# Add Happy Planet Index value per Country from the HPI dataset

# Prepare HPI DataFrame for concatenation
# Include only relevant columns
df_hpi_mod = df_hpi[['Country', 'Happy Planet Index']]

# Include only relevant rows
df_hpi_mod = df_hpi_mod.iloc[:140]    

#df_hpi_mod

In [8]:
# Find out which Country Names in both datasets match
custom_wdi_df_match = custom_wdi_df.merge(df_hpi_mod, left_on='Country Name', right_on='Country', how='inner', suffixes=('WDI ','HPI '))
matching_countries_num = custom_wdi_df_match['Country Name'].unique().shape[0]
matching_countries_num

125

In [9]:
# Find out which Country Names in both datasets do not match
custom_wdi_df_all = custom_wdi_df.merge(df_hpi_mod, left_on='Country Name', right_on='Country', how='outer', suffixes=('WDI ','HPI '))
non_matching_countries_wdi = custom_wdi_df_all['Country Name'][custom_wdi_df_all['Country Name'] != custom_wdi_df_all['Country']]
non_matching_countries_wdi = non_matching_countries_wdi[non_matching_countries_wdi.isnull() == False].unique()
print('WDI not matching countries:',non_matching_countries_wdi.shape[0])

non_matching_countries_hpi = custom_wdi_df_all['Country'][custom_wdi_df_all['Country'] != custom_wdi_df_all['Country Name']]
non_matching_countries_hpi = non_matching_countries_hpi[non_matching_countries_hpi.isnull() == False].unique()
print('HPI not matching countries:',non_matching_countries_hpi.shape[0])

print(non_matching_countries_wdi)
print(non_matching_countries_hpi)

WDI not matching countries: 139
HPI not matching countries: 15
['Arab World' 'Caribbean small states' 'Central Europe and the Baltics'
 'Early-demographic dividend' 'East Asia & Pacific'
 'East Asia & Pacific (excluding high income)'
 'East Asia & Pacific (IDA & IBRD countries)' 'Euro area'
 'Europe & Central Asia' 'Europe & Central Asia (excluding high income)'
 'Europe & Central Asia (IDA & IBRD countries)' 'European Union'
 'Fragile and conflict affected situations'
 'Heavily indebted poor countries (HIPC)' 'High income' 'IBRD only'
 'IDA & IBRD total' 'IDA blend' 'IDA only' 'IDA total'
 'Late-demographic dividend' 'Latin America & Caribbean'
 'Latin America & Caribbean (excluding high income)'
 'Latin America & the Caribbean (IDA & IBRD countries)'
 'Least developed countries: UN classification' 'Low & middle income'
 'Low income' 'Lower middle income' 'Middle East & North Africa'
 'Middle East & North Africa (excluding high income)'
 'Middle East & North Africa (IDA & IBRD countries)' 'Middle income'
 'North America' 'Not classified' 'OECD members' 'Other small states'
 'Pacific island small states' 'Post-demographic dividend'
 'Pre-demographic dividend' 'Small states' 'South Asia'
 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa'
 'Sub-Saharan Africa (excluding high income)'
 'Sub-Saharan Africa (IDA & IBRD countries)' 'Upper middle income' 'World'
 'American Samoa' 'Andorra' 'Angola' 'Antigua and Barbuda' 'Aruba'
 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Barbados' 'Bermuda'
 'British Virgin Islands' 'Brunei Darussalam' 'Cabo Verde'
 'Cayman Islands' 'Central African Republic' 'Channel Islands'
 'Congo, Dem. Rep.' 'Congo, Rep.' 'Cuba' 'Curacao' 'Dominica'
 'Egypt, Arab Rep.' 'Equatorial Guinea' 'Eritrea' 'Eswatini'
 'Faroe Islands' 'Fiji' 'French Polynesia' 'Gambia, The' 'Gibraltar'
 'Greenland' 'Grenada' 'Guam' 'Guinea-Bissau' 'Guyana'
 'Hong Kong SAR, China' 'Iran, Islamic Rep.' 'Isle of Man' 'Jordan'
 'Kiribati' 'Korea, Dem. People’s Rep.' 'Korea, Rep.' 'Kosovo' 'Kuwait'
 'Kyrgyz Republic' 'Lao PDR' 'Libya' 'Liechtenstein' 'Macao SAR, China'
 'Madagascar' 'Maldives' 'Mali' 'Marshall Islands' 'Micronesia, Fed. Sts.'
 'Moldova' 'Monaco' 'Nauru' 'New Caledonia' 'North Macedonia'
 'Northern Mariana Islands' 'Palau' 'Papua New Guinea' 'Puerto Rico'
 'Qatar' 'Russian Federation' 'Samoa' 'San Marino' 'Sao Tome and Principe'
 'Saudi Arabia' 'Seychelles' 'Singapore' 'Sint Maarten (Dutch part)'
 'Slovak Republic' 'Solomon Islands' 'Somalia' 'South Sudan'
 'St. Kitts and Nevis' 'St. Lucia' 'St. Martin (French part)'
 'St. Vincent and the Grenadines' 'Sudan' 'Syrian Arab Republic'
 'Timor-Leste' 'Tonga' 'Turks and Caicos Islands' 'Tuvalu'
 'United Arab Emirates' 'United States' 'Venezuela, RB'
 'Virgin Islands (U.S.)' 'West Bank and Gaza' 'Yemen, Rep.']
['Egypt' 'Hong Kong' 'Iran' 'Kyrgyzstan' 'Macedonia' 'Palestine'
 'Republic of Congo' 'Russia' 'Slovakia' 'South Korea' 'Swaziland' 'Syria'
 'United States of America' 'Venezuela' 'Yemen']

In [10]:
# Manually create a matching table of non-matching country names
non_matching_countries_hpi
wdi_pair_list = ['Egypt, Arab Rep.',
                 'Hong Kong SAR, China',
                 'Iran, Islamic Rep.',
                 'Kyrgyz Republic',
                 'North Macedonia',
                 'Palestine',   # no match found in WDI
                 'Congo, Rep.',
                 'Russian Federation',
                 'Slovak Republic',
                 'Korea, Rep.',
                 'Eswatini',
                 'Syrian Arab Republic',
                 'United States',
                 'Venezuela, RB',
                 'Yemen, Rep.'
                ]
wdi_pair_list

['Egypt, Arab Rep.',
 'Hong Kong SAR, China',
 'Iran, Islamic Rep.',
 'Kyrgyz Republic',
 'North Macedonia',
 'Palestine',
 'Congo, Rep.',
 'Russian Federation',
 'Slovak Republic',
 'Korea, Rep.',
 'Eswatini',
 'Syrian Arab Republic',
 'United States',
 'Venezuela, RB',
 'Yemen, Rep.']

In [11]:
# Transform Indicator rows into Indicator columns
custom_wdi_df_indcols = custom_wdi_df.pivot(index = 'Country Name', columns = 'Indicator Code', values = '2016')
custom_wdi_df_indcols = custom_wdi_df_indcols.rename_axis(None, axis=1).reset_index()
custom_wdi_df_indcols.head()

,Country Name,AG.AGR.TRAC.NO,AG.CON.FERT.PT.ZS,AG.CON.FERT.ZS,AG.LND.AGRI.K2,AG.LND.AGRI.ZS,AG.LND.ARBL.HA,AG.LND.ARBL.HA.PC,AG.LND.ARBL.ZS,AG.LND.CREL.HA,...,per_sa_allsa.cov_q4_tot,per_sa_allsa.cov_q5_tot,per_si_allsi.adq_pop_tot,per_si_allsi.ben_q1_tot,per_si_allsi.cov_pop_tot,per_si_allsi.cov_q1_tot,per_si_allsi.cov_q2_tot,per_si_allsi.cov_q3_tot,per_si_allsi.cov_q4_tot,per_si_allsi.cov_q5_tot
0,Afghanistan,NaN,590.067055,12.182300,379100.000000,58.067580,7.729000e+06,0.218437,11.838679,2793133.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,NaN,NaN,126.138483,11816.999512,43.127735,6.203000e+05,0.215674,22.638686,148084.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,NaN,8.209376,22.315273,413601.992188,17.365539,7.404200e+06,0.182588,3.108736,3376331.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,American Samoa,NaN,NaN,NaN,49.000001,24.500000,3.000000e+03,0.053820,15.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,187.800007,39.957448,7.800000e+02,0.010091,1.659574,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Replace non-matching country names before
df_hpi_mod2 = df_hpi_mod.replace(non_matching_countries_hpi,wdi_pair_list)

In [13]:
# Merge DataFrames
custom_wdi_df_match2 = custom_wdi_df_indcols.merge(df_hpi_mod2, left_on='Country Name', right_on='Country', how='inner')
matching_countries_num2 = custom_wdi_df_match2['Country Name'].unique().shape[0]
matching_countries_num2

139

In [14]:
# Remove columns with only missing data and duplicated Country column
nan_columns = set(custom_wdi_df_match2.columns[custom_wdi_df_match2.isnull().mean() == 1])
nan_columns

wdi_hpi_2016_df = custom_wdi_df_match2.drop(nan_columns, axis = 1)
wdi_hpi_2016_df = wdi_hpi_2016_df.drop('Country', axis = 1)

In [15]:
# Show columns without missing data
columns_no_nulls = set(wdi_hpi_2016_df.columns[wdi_hpi_2016_df.isnull().mean()==0])
columns_no_nulls

{'AG.LND.AGRI.K2',
 'AG.LND.AGRI.ZS',
 'AG.LND.ARBL.HA',
 'AG.LND.ARBL.HA.PC',
 'AG.LND.ARBL.ZS',
 'AG.LND.TOTL.K2',
 'AG.PRD.CREL.MT',
 'AG.PRD.CROP.XD',
 'AG.PRD.FOOD.XD',
 'AG.PRD.LVSK.XD',
 'AG.SRF.TOTL.K2',
 'Country Name',
 'EG.ELC.ACCS.RU.ZS',
 'EG.ELC.ACCS.UR.ZS',
 'EG.ELC.ACCS.ZS',
 'EN.POP.DNST',
 'ER.FSH.CAPT.MT',
 'ER.FSH.PROD.MT',
 'ER.LND.PTLD.ZS',
 'ER.PTD.TOTL.ZS',
 'Happy Planet Index',
 'IT.CEL.SETS',
 'IT.CEL.SETS.P2',
 'IT.MLT.MAIN',
 'IT.MLT.MAIN.P2',
 'IT.NET.SECR',
 'IT.NET.SECR.P6',
 'IT.NET.USER.ZS',
 'NY.ADJ.DMIN.CD',
 'NY.ADJ.DNGY.CD',
 'SH.H2O.BASW.ZS',
 'SH.STA.BASS.ZS',
 'SH.TBS.DTEC.ZS',
 'SH.TBS.INCD',
 'SL.AGR.EMPL.FE.ZS',
 'SL.AGR.EMPL.MA.ZS',
 'SL.AGR.EMPL.ZS',
 'SL.EMP.1524.SP.FE.ZS',
 'SL.EMP.1524.SP.MA.ZS',
 'SL.EMP.1524.SP.ZS',
 'SL.EMP.MPYR.FE.ZS',
 'SL.EMP.MPYR.MA.ZS',
 'SL.EMP.MPYR.ZS',
 'SL.EMP.SELF.FE.ZS',
 'SL.EMP.SELF.MA.ZS',
 'SL.EMP.SELF.ZS',
 'SL.EMP.TOTL.SP.FE.ZS',
 'SL.EMP.TOTL.SP.MA.ZS',
 'SL.EMP.TOTL.SP.ZS',
 'SL.EMP.VULN.FE.ZS',
 'SL.EMP.VULN.MA.ZS',
 'SL.EMP.VULN.ZS',
 'SL.EMP.WORK.FE.ZS',
 'SL.EMP.WORK.MA.ZS',
 'SL.EMP.WORK.ZS',
 'SL.FAM.WORK.FE.ZS',
 'SL.FAM.WORK.MA.ZS',
 'SL.FAM.WORK.ZS',
 'SL.GDP.PCAP.EM.KD',
 'SL.IND.EMPL.FE.ZS',
 'SL.IND.EMPL.MA.ZS',
 'SL.IND.EMPL.ZS',
 'SL.SRV.EMPL.FE.ZS',
 'SL.SRV.EMPL.MA.ZS',
 'SL.SRV.EMPL.ZS',
 'SL.TLF.ACTI.1524.FE.ZS',
 'SL.TLF.ACTI.1524.MA.ZS',
 'SL.TLF.ACTI.1524.ZS',
 'SL.TLF.ACTI.FE.ZS',
 'SL.TLF.ACTI.MA.ZS',
 'SL.TLF.ACTI.ZS',
 'SL.TLF.CACT.FE.ZS',
 'SL.TLF.CACT.FM.ZS',
 'SL.TLF.CACT.MA.ZS',
 'SL.TLF.CACT.ZS',
 'SL.TLF.TOTL.FE.ZS',
 'SL.TLF.TOTL.IN',
 'SL.UEM.1524.FE.ZS',
 'SL.UEM.1524.MA.ZS',
 'SL.UEM.1524.ZS',
 'SL.UEM.TOTL.FE.ZS',
 'SL.UEM.TOTL.MA.ZS',
 'SL.UEM.TOTL.ZS',
 'SP.ADO.TFRT',
 'SP.DYN.CBRT.IN',
 'SP.DYN.CDRT.IN',
 'SP.DYN.LE00.FE.IN',
 'SP.DYN.LE00.IN',
 'SP.DYN.LE00.MA.IN',
 'SP.DYN.TFRT.IN',
 'SP.DYN.TO65.FE.ZS',
 'SP.DYN.TO65.MA.ZS',
 'SP.POP.0004.FE.5Y',
 'SP.POP.0004.MA.5Y',
 'SP.POP.0014.FE.IN',
 'SP.POP.0014.FE.ZS',
 'SP.POP.0014.MA.IN',
 'SP.POP.0014.MA.ZS',
 'SP.POP.0014.TO',
 'SP.POP.0014.TO.ZS',
 'SP.POP.0509.FE.5Y',
 'SP.POP.0509.MA.5Y',
 'SP.POP.1014.FE.5Y',
 'SP.POP.1014.MA.5Y',
 'SP.POP.1519.FE.5Y',
 'SP.POP.1519.MA.5Y',
 'SP.POP.1564.FE.IN',
 'SP.POP.1564.FE.ZS',
 'SP.POP.1564.MA.IN',
 'SP.POP.1564.MA.ZS',
 'SP.POP.1564.TO',
 'SP.POP.1564.TO.ZS',
 'SP.POP.2024.FE.5Y',
 'SP.POP.2024.MA.5Y',
 'SP.POP.2529.FE.5Y',
 'SP.POP.2529.MA.5Y',
 'SP.POP.3034.FE.5Y',
 'SP.POP.3034.MA.5Y',
 'SP.POP.3539.FE.5Y',
 'SP.POP.3539.MA.5Y',
 'SP.POP.4044.FE.5Y',
 'SP.POP.4044.MA.5Y',
 'SP.POP.4549.FE.5Y',
 'SP.POP.4549.MA.5Y',
 'SP.POP.5054.FE.5Y',
 'SP.POP.5054.MA.5Y',
 'SP.POP.5559.FE.5Y',
 'SP.POP.5559.MA.5Y',
 'SP.POP.6064.FE.5Y',
 'SP.POP.6064.MA.5Y',
 'SP.POP.6569.FE.5Y',
 'SP.POP.6569.MA.5Y',
 'SP.POP.65UP.FE.IN',
 'SP.POP.65UP.FE.ZS',
 'SP.POP.65UP.MA.IN',
 'SP.POP.65UP.MA.ZS',
 'SP.POP.65UP.TO',
 'SP.POP.65UP.TO.ZS',
 'SP.POP.7074.FE.5Y',
 'SP.POP.7074.MA.5Y',
 'SP.POP.7579.FE.5Y',
 'SP.POP.7579.MA.5Y',
 'SP.POP.80UP.FE.5Y',
 'SP.POP.80UP.MA.5Y',
 'SP.POP.BRTH.MF',
 'SP.POP.DPND',
 'SP.POP.DPND.OL',
 'SP.POP.DPND.YG',
 'SP.POP.GROW',
 'SP.POP.TOTL',
 'SP.POP.TOTL.FE.IN',
 'SP.POP.TOTL.FE.ZS',
 'SP.POP.TOTL.MA.IN',
 'SP.POP.TOTL.MA.ZS',
 'SP.RUR.TOTL',
 'SP.RUR.TOTL.ZS',
 'SP.URB.GROW',
 'SP.URB.TOTL',
 'SP.URB.TOTL.IN.ZS',
 'TM.VAL.MRCH.CD.WT',
 'TM.VAL.MRCH.HI.ZS',
 'TM.VAL.MRCH.OR.ZS',
 'TM.VAL.MRCH.R1.ZS',
 'TM.VAL.MRCH.R2.ZS',
 'TM.VAL.MRCH.R3.ZS',
 'TM.VAL.MRCH.R5.ZS',
 'TM.VAL.MRCH.RS.ZS',
 'TM.VAL.MRCH.WL.CD',
 'TX.VAL.MRCH.CD.WT',
 'TX.VAL.MRCH.HI.ZS',
 'TX.VAL.MRCH.OR.ZS',
 'TX.VAL.MRCH.R1.ZS',
 'TX.VAL.MRCH.R5.ZS',
 'TX.VAL.MRCH.RS.ZS',
 'TX.VAL.MRCH.WL.CD'}

In [16]:
# Evaluate columns with most missing data
columns_90_nulls = set(wdi_hpi_2016_df.columns[wdi_hpi_2016_df.isnull().mean() > 0.90])
columns_75_nulls = set(wdi_hpi_2016_df.columns[wdi_hpi_2016_df.isnull().mean() > 0.75])    # more than 75% of data is missing
columns_50_nulls = set(wdi_hpi_2016_df.columns[wdi_hpi_2016_df.isnull().mean() > 0.50])

print(len(columns_90_nulls))
print(len(columns_75_nulls))
print(len(columns_50_nulls))
print(wdi_hpi_2016_df.shape[1])

99
192
330
1274

In [17]:
# Remove columns with more than 50% of missing data
wdi_hpi_2016_df = wdi_hpi_2016_df.drop(wdi_hpi_2016_df.columns[wdi_hpi_2016_df.isnull().mean() > 0.50], axis = 1)
print(wdi_hpi_2016_df.shape)

(139, 944)

In [18]:
# Show remaining columns in order to choose columns for the model
col_descr = pd.DataFrame(wdi_hpi_2016_df.columns, columns = ['Indicator Code'])

df_wdi_inds = pd.read_csv('../data/raw_data/WDISeries.csv')

col_descr = col_descr.merge(df_wdi_inds, left_on='Indicator Code', right_on='Series Code', how='left')
col_descr.to_csv('../data/available_columns.csv')
col_descr.head()

,Indicator Code,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,Country Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AG.CON.FERT.ZS,AG.CON.FERT.ZS,Environment: Agricultural production,Fertilizer consumption (kilograms per hectare ...,NaN,Fertilizer consumption measures the quantity o...,NaN,Annual,NaN,NaN,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",NaN,NaN,NaN,CC BY-4.0,NaN
2,AG.LND.AGRI.K2,AG.LND.AGRI.K2,Environment: Land use,Agricultural land (sq. km),NaN,Agricultural land refers to the share of land ...,NaN,Annual,NaN,NaN,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Agricultural land constitutes only a part of a...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,CC BY-4.0,NaN
3,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Environment: Land use,Agricultural land (% of land area),NaN,Agricultural land refers to the share of land ...,NaN,Annual,NaN,NaN,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Agriculture is still a major sector in many ec...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,CC BY-4.0,NaN
4,AG.LND.ARBL.HA,AG.LND.ARBL.HA,Environment: Land use,Arable land (hectares),NaN,Arable land (in hectares) includes land define...,NaN,Annual,NaN,NaN,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Temporary fallow land refers to land left fall...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,CC BY-4.0,NaN

In [19]:
# Load manually chosen columns and description
chosen_columns = pd.read_csv('../data/WDI_indicator_choice.csv')
chosen_columns = chosen_columns[['Indicator Code', 'Indicator Name', 'Manual Group']][chosen_columns['Manual Choice'] == 1]
chosen_columns = chosen_columns.reset_index().drop('index', axis = 1)
chosen_columns.to_pickle('../data/WDI_chosen_columns.pkl')
print('No. of chosen indicators:', len(chosen_columns))
chosen_columns

No. of chosen indicators: 42

,Indicator Code,Indicator Name,Manual Group
0,AG.LND.AGRI.ZS,Agricultural land (% of land area),environment
1,AG.LND.FRST.ZS,Forest area (% of land area),environment
2,AG.PRD.FOOD.XD,Food production index (2004-2006 = 100),environment
3,AG.PRD.LVSK.XD,Livestock production index (2004-2006 = 100),environment
4,EG.ELC.ACCS.ZS,Access to electricity (% of population),infrastructure
5,EN.POP.DNST,Population density (people per sq. km of land ...,environment
6,ER.PTD.TOTL.ZS,Terrestrial and marine protected areas (% of t...,environment
7,FB.ATM.TOTL.P5,"Automated teller machines (ATMs) (per 100,000 ...",infrastructure
8,FB.CBK.BRCH.P5,"Commercial bank branches (per 100,000 adults)",infrastructure
9,FP.CPI.TOTL,Consumer price index (2010 = 100),infrastructure
10,FP.CPI.TOTL.ZG,"Inflation, consumer prices (annual %)",politics
11,GB.XPD.RSDV.GD.ZS,Research and development expenditure (% of GDP),economics
12,GC.TAX.GSRV.RV.ZS,Taxes on goods and services (% of revenue),politics
13,GC.TAX.TOTL.GD.ZS,Tax revenue (% of GDP),politics
14,GC.TAX.YPKG.RV.ZS,"Taxes on income, profits and capital gains (% ...",politics
15,IP.JRN.ARTC.SC,Scientific and technical journal articles,economics
16,IT.CEL.SETS.P2,Mobile cellular subscriptions (per 100 people),infrastructure
17,IT.MLT.MAIN.P2,Fixed telephone subscriptions (per 100 people),infrastructure
18,IT.NET.BBND.P2,Fixed broadband subscriptions (per 100 people),infrastructure
19,MS.MIL.XPND.GD.ZS,Military expenditure (% of GDP),politics
20,NE.CON.GOVT.ZS,General government final consumption expenditu...,politics
21,NE.IMP.GNFS.ZS,Imports of goods and services (% of GDP),economics
22,NE.RSB.GNFS.ZS,External balance on goods and services (% of GDP),economics
23,NE.TRD.GNFS.ZS,Trade (% of GDP),economics
24,NV.AGR.TOTL.ZS,"Agriculture, value added (% of GDP)",economics
25,NV.IND.MANF.ZS,"Manufacturing, value added (% of GDP)",economics
26,NV.IND.TOTL.ZS,"Industry, value added (% of GDP)",economics
27,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),economics
28,NY.GDP.PCAP.PP.CD,"GDP per capita, PPP (current international $)",economics
29,SE.COM.DURS,"Compulsory education, duration (years)",education
30,SE.PRM.CMPT.ZS,"Primary completion rate, total (% of relevant ...",education
31,SE.PRM.ENRR,"School enrollment, primary (% gross)",education
32,SE.SEC.ENRR,"School enrollment, secondary (% gross)",education
33,SE.TER.ENRR,"School enrollment, tertiary (% gross)",education
34,SE.XPD.TOTL.GB.ZS,"Government expenditure on education, total (% ...",education
35,SE.XPD.TOTL.GD.ZS,"Government expenditure on education, total (% ...",education
36,SH.H2O.BASW.ZS,People using at least basic drinking water ser...,health
37,SH.H2O.SMDW.ZS,People using safely managed drinking water ser...,health
38,SH.MED.PHYS.ZS,"Physicians (per 1,000 people)",health
39,SH.STA.BASS.ZS,People using at least basic sanitation service...,health
40,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",health
41,SP.POP.GROW,Population growth (annual %),health

In [20]:
# Reduce DataFrame to chosen columns
keep_columns = pd.DataFrame(['Country Name', 'Happy Planet Index'])
keep_columns = pd.concat([keep_columns, chosen_columns['Indicator Code']], ignore_index = True).rename(columns = {0:'Indicator Code'})
keep_columns = keep_columns['Indicator Code'].tolist()

def drop_columns(df, keep_cols):
    '''
    Drop unnecessary columns from the main DataFrame
    input:  df = DataFrame to be modified
            keep_cols = list containg column names (as string) which are to be kept in the DataFrame
    output: df = modified DataFrame only containing columns from keep_cols
    '''
    drop_cols = []
    for col in df.columns:
        if not col in keep_cols:
            drop_cols.append(col)    
    df = df.drop(drop_cols, axis = 1)
    return df
    
wdi_hpi_2016_df = drop_columns(wdi_hpi_2016_df, keep_columns)
wdi_hpi_2016_df

,Country Name,AG.LND.AGRI.ZS,AG.LND.FRST.ZS,AG.PRD.FOOD.XD,AG.PRD.LVSK.XD,EG.ELC.ACCS.ZS,EN.POP.DNST,ER.PTD.TOTL.ZS,FB.ATM.TOTL.P5,FB.CBK.BRCH.P5,...,SE.TER.ENRR,SE.XPD.TOTL.GB.ZS,SE.XPD.TOTL.GD.ZS,SH.H2O.BASW.ZS,SH.H2O.SMDW.ZS,SH.MED.PHYS.ZS,SH.STA.BASS.ZS,SP.DYN.LE00.IN,SP.POP.GROW,Happy Planet Index
0,Afghanistan,58.067580,2.067825,125.41,98.70,97.700000,54.197114,0.104707,1.052141,2.094214,...,NaN,16.21170,4.22836,64.286484,NaN,0.2840,42.054183,63.763000,2.778317,20.225350
1,Albania,43.127735,28.121897,150.93,113.07,100.000000,104.967190,13.147749,33.806812,21.509584,...,58.38185,13.59696,3.95464,91.020370,69.984329,1.1998,97.704877,78.194000,-0.159880,36.766874
2,Algeria,17.365539,0.824439,151.62,147.06,99.992317,17.025957,7.105500,8.680286,5.241517,...,42.62885,NaN,NaN,93.515851,NaN,1.8300,87.542316,76.298000,2.051355,33.300543
3,Argentina,54.335712,9.798406,129.11,107.00,99.966881,15.928135,7.528593,50.331821,13.447737,...,87.21345,13.37615,5.57218,99.078375,NaN,NaN,94.258505,76.221000,1.057182,35.190244
4,Armenia,58.897086,11.668423,135.37,143.85,100.000000,103.131226,23.109003,60.903516,23.008940,...,51.08019,10.19720,2.75812,99.898536,83.005976,NaN,93.406972,74.640000,0.361431,25.666417
5,Australia,48.241944,16.258278,105.58,102.02,100.000000,3.144936,28.591842,167.585527,27.722792,...,120.96570,13.76601,5.28031,99.969972,NaN,3.5874,99.991152,82.448780,1.561940,21.228966
6,Austria,32.356676,46.905713,101.29,108.27,100.000000,105.869493,28.443983,162.782099,12.644693,...,83.45495,10.95385,5.50070,100.000000,98.907808,5.1441,99.974814,81.641463,1.081396,30.478224
7,Bangladesh,70.632327,10.957978,145.31,135.88,75.920000,1213.573327,4.888676,8.045164,8.728950,...,17.87436,11.41942,1.53554,96.882530,55.491263,0.4822,47.005803,71.785000,1.091300,38.390694
8,Belarus,42.035489,42.630106,133.94,147.85,100.000000,46.808351,9.511258,55.252115,0.856622,...,88.18458,12.15878,4.94655,96.474184,94.497432,NaN,97.777751,73.826829,0.125511,21.718916
9,Belgium,44.610305,22.583885,84.89,81.32,100.000000,374.221334,24.578162,88.357865,36.557841,...,75.89064,12.33788,6.54428,99.999999,99.523184,3.3234,99.486058,81.439024,0.506300,23.726523
10,Belize,7.014467,59.679089,94.19,118.05,97.001587,16.150811,20.591792,39.891495,20.344663,...,24.21411,20.55235,7.12481,97.584540,NaN,NaN,87.534776,74.219000,2.047696,33.839843
11,Benin,33.256474,37.788223,161.65,136.32,41.618233,96.417763,28.871945,4.845724,3.622219,...,12.94940,18.79140,3.99469,66.320240,NaN,0.1572,16.351138,60.885000,2.761409,13.422365
12,Bhutan,13.606334,72.484537,102.11,92.82,99.774635,19.313890,48.007312,32.253914,15.269140,...,NaN,26.18062,6.80249,97.207625,35.997319,0.3748,68.282484,70.781000,1.206227,28.623233
13,Bolivia,34.787224,50.286163,146.43,135.44,91.800000,10.183525,30.865515,39.730203,38.463211,...,NaN,NaN,NaN,92.176899,NaN,1.6111,58.800008,70.626000,1.480133,23.321493
14,Bosnia and Herzegovina,43.144531,42.675781,125.39,119.68,100.000000,66.138027,1.452410,52.053049,30.054439,...,NaN,NaN,NaN,96.151262,88.833356,NaN,95.336149,76.998000,-1.264581,25.285497
15,Botswana,45.633017,18.946941,119.84,119.04,60.588360,3.811240,29.143292,30.935969,8.318916,...,25.91087,NaN,NaN,89.404440,NaN,0.3688,76.017310,68.178000,1.832853,16.605083
16,Brazil,33.924533,58.931054,136.50,127.00,99.700000,24.666141,20.737284,112.224637,20.360533,...,50.48851,NaN,NaN,97.847986,NaN,NaN,87.426360,75.230000,0.823748,34.344975
17,Bulgaria,46.250921,35.373986,129.85,84.39,100.000000,65.657903,28.287132,95.700109,48.388980,...,71.24574,NaN,NaN,99.148175,96.967338,NaN,85.993306,74.812195,-0.701382,20.440789
18,Burkina Faso,44.225146,19.335527,127.42,84.19,23.652874,68.151966,15.084820,3.692343,2.887098,...,5.56196,NaN,NaN,48.267717,NaN,0.0600,19.126279,60.354000,2.915319,17.886188
19,Burundi,79.166667,10.926792,119.85,140.58,9.298458,408.411137,7.592546,1.396182,3.171574,...,5.84020,20.90950,4.69272,60.204152,NaN,0.0500,45.851019,60.528000,3.177016,15.576159
20,Cambodia,30.903014,52.852932,187.64,89.23,76.839882,89.317318,20.649277,14.486312,7.238534,...,NaN,NaN,NaN,76.945374,25.245143,NaN,56.601501,68.977000,1.565227,25.649373
21,Cameroon,20.625754,39.339130,181.65,125.40,60.107346,50.615682,10.382077,4.274945,2.027671,...,12.47753,12.69469,2.65423,60.155720,NaN,NaN,38.847405,58.063000,2.660495,16.698237
22,Canada,6.891838,38.161547,117.66,83.25,100.000000,3.970907,6.477119,224.081815,22.272398,...,66.43918,NaN,NaN,99.412624,98.813498,2.5668,99.324530,82.142244,1.132349,23.941834
23,Chad,39.656131,3.770966,155.20,117.13,10.114419,11.564220,20.354445,1.407086,1.012576,...,NaN,NaN,NaN,38.852591,NaN,0.0475,8.583369,53.438000,3.143960,12.777156
24,Chile,21.171650,24.256925,114.79,110.55,100.000000,24.489958,13.593905,53.401163,15.768033,...,87.18814,21.15548,5.35064,99.622180,98.463965,1.0800,100.000000,79.779000,1.325202,31.665522
25,China,56.212313,22.353942,139.03,130.43,100.000000,146.850678,15.939280,81.451479,8.782746,...,48.01902,NaN,NaN,92.304047,NaN,NaN,83.235173,76.210000,0.541479,25.726420
26,Colombia,40.257415,52.703938,116.67,115.61,98.400000,43.417208,9.446444,41.530861,15.920118,...,55.48425,16.21151,4.47672,96.961806,72.997898,2.0036,88.586994,76.732000,1.360061,40.695011
27,Comoros,71.466951,19.666844,108.68,109.39,77.421822,427.507777,0.126191,5.025778,3.141111,...,NaN,NaN,NaN,80.148853,NaN,NaN,35.834892,63.700000,2.310060,23.100989
28,"Congo, Rep.",31.118594,65.354611,138.11,177.07,61.730053,14.585649,36.709304,NaN,NaN,...,NaN,NaN,NaN,72.186656,44.769632,NaN,19.548053,63.556000,2.539586,18.812712
29,Costa Rica,34.459459,54.567175,131.03,127.21,99.500000,95.952703,3.035462,63.330858,21.598385,...,53.63870,23.42320,7.09768,99.699764,93.703901,NaN,97.548977,79.738000,1.057570,44.714071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,Sierra Leone,54.710446,43.053479,201.22,214.46,20.300000,101.535578,3.297284,NaN,NaN,...,NaN,12.47358,3.06023,59.563143,9.533970,NaN,15.293042,53.444000,2.164441,15.264650
110,Slovak Republic,39.226290,40.353576,101.77,76.90,100.000000,112.953369,37.283516,60.109284,28.261146,...,47.79592,9.41514,3.90267,99.787517,99.697821,2.4643,97.931704,77.165854,0.128922,28.228897
111,Slovenia,30.656340,61.970012,88.70,89.62,100.000000,102.524181,55.092023,95.282006,30.642602,...,77.84908,11.71681,4.79565,99.534383,97.845737,2.9953,99.109442,81.175610,0.073197,24.638840
112,South Africa,79.830021,7.617737,116.66,131.10,84.200000,46.330985,12.985009,68.926364,10.129432,...,20.91845,18.04874,5.94059,92.270312,NaN,0.8024,74.824878,63.153000,1.464829,15.868992
113,Spain,52.577247,36.936210,103.90,95.35,100.000000,93.048279,15.195633,113.062733,61.823648,...,86.51608,9.97324,4.20911,99.926506,98.460785,4.0691,99.904286,83.329268,0.083370,35.958977
114,Sri Lanka,43.693191,32.903842,131.27,112.83,95.757690,338.111944,3.378798,NaN,NaN,...,18.83811,17.72876,3.47508,88.835985,NaN,1.0578,95.107030,76.482000,1.104984,33.791776
115,Suriname,0.557692,98.257694,156.91,125.11,95.968124,3.621077,8.483213,49.020200,11.108026,...,NaN,NaN,NaN,94.519398,NaN,NaN,84.140522,71.358000,1.022223,25.447157
116,Sweden,7.442734,68.922933,99.64,92.60,100.000000,24.362488,12.865283,34.770905,17.544057,...,63.54802,15.73223,7.66993,99.999996,99.939996,5.3996,99.297864,82.307317,1.256454,28.034925
117,Switzerland,38.363446,31.830145,102.84,106.00,100.000000,211.897403,9.650516,98.417510,42.457361,...,58.04695,15.52673,5.11332,100.000000,95.455405,4.2363,99.890363,83.602439,1.092031,34.330970
118,Syrian Arab Republic,75.810053,2.673855,85.25,82.36,89.725502,95.049464,0.662924,NaN,NaN,...,40.05115,NaN,NaN,97.059075,NaN,1.2200,91.396032,70.315000,-3.066274,19.100371
119,Tajikistan,34.137906,2.971396,155.46,128.04,99.887291,62.422213,22.278589,NaN,NaN,...,29.16614,NaN,NaN,79.625850,47.685679,NaN,96.575670,70.397000,2.448490,34.249597
120,Tanzania,44.761797,51.578234,168.95,132.78,32.800000,59.890257,30.843453,NaN,NaN,...,NaN,NaN,NaN,54.847537,NaN,NaN,28.390380,63.844000,3.000523,22.138379
121,Thailand,43.277418,32.157607,114.55,131.25,100.000000,135.002312,12.509745,112.885115,12.352834,...,49.28681,NaN,NaN,99.373805,NaN,0.4457,98.396446,76.403000,0.373053,37.290105
122,Togo,70.233499,3.092480,145.00,143.11,47.378700,138.075970,21.791333,NaN,5.653614,...,12.49276,15.99131,4.98470,64.021439,NaN,NaN,15.712305,60.220000,2.518742,13.233269
123,Trinidad and Tobago,10.526316,46.023393,96.14,120.58,100.000000,268.530994,2.014526,41.670750,12.821769,...,NaN,NaN,NaN,98.184962,NaN,NaN,93.398906,73.100000,0.526659,15.718347
124,Tunisia,64.836509,6.766220,117.64,131.16,100.000000,72.759694,5.208610,27.728512,20.636523,...,32.81536,NaN,NaN,95.992403,92.399273,1.2722,90.880128,76.115000,1.102996,26.197141
125,Turkey,49.799254,15.354651,134.45,163.74,100.000000,103.714413,0.190625,77.774167,18.069542,...,NaN,NaN,NaN,98.880874,NaN,NaN,97.246443,76.860000,1.632251,26.424565
126,Turkmenistan,72.006469,8.782159,113.04,117.55,100.000000,12.049395,3.212231,NaN,NaN,...,NaN,NaN,NaN,98.703724,93.005601,NaN,98.272035,67.835000,1.729433,14.608544
127,Uganda,71.888091,9.683822,98.31,131.64,26.700000,197.723449,16.064084,4.567893,2.899787,...,NaN,11.37934,2.55882,47.665631,6.951530,NaN,18.451233,61.986000,3.652644,19.419102
128,Ukraine,71.665314,16.708039,169.07,97.46,100.000000,77.689318,3.862876,88.553238,0.495414,...,NaN,12.35312,5.00978,93.724079,91.942266,NaN,96.220861,71.476341,-0.331381,26.383162
129,United Kingdom,71.714878,13.065763,103.82,106.58,100.000000,271.134481,22.262065,129.574491,NaN,...,58.42562,13.83110,5.48697,100.000000,99.988778,2.7959,99.111421,81.156098,0.714030,31.909286
130,United States,44.369068,33.929786,122.32,109.70,100.000000,35.318302,26.326200,NaN,32.102866,...,88.83505,NaN,NaN,99.263709,98.996310,2.5948,99.969812,78.539024,0.723401,20.746378
131,Uruguay,82.559705,10.671580,116.65,100.83,99.700000,19.564233,2.325009,82.455972,11.493413,...,62.54457,14.35388,4.75910,99.322892,NaN,3.9329,96.401180,77.498000,0.354674,36.134280
132,Uzbekistan,62.929008,7.542971,157.08,134.03,100.000000,74.865773,3.375059,21.597946,27.958746,...,8.46360,23.85045,6.87223,97.681271,58.881467,NaN,100.000000,71.171000,1.738849,29.126307
133,Vanuatu,15.340443,36.095160,124.05,111.26,57.820000,22.832650,0.090759,39.375837,20.250430,...,NaN,NaN,NaN,90.661524,43.842476,0.1706,36.088024,70.021000,2.620905,40.570099
134,"Venezuela, RB",24.488408,52.739189,107.73,129.80,99.967598,33.837287,36.902542,NaN,NaN,...,NaN,NaN,NaN,95.778367,NaN,NaN,93.935019,72.405000,-0.786448,33.569960
135,Vietnam,39.275002,48.060115,136.18,151.37,100.000000,301.992208,2.929447,24.256614,3.834522,...,28.54497,15.29596,4.34481,93.990123,NaN,0.8199,81.855704,75.172000,1.032287,40.307589
136,"Yemen, Rep.",44.597231,1.039832,141.69,157.93,76.066811,51.457867,0.605805,NaN,NaN,...,NaN,NaN,NaN,63.322034,NaN,NaN,58.772984,66.087000,2.498247,22.754269
137,Zambia,32.063923,65.199153,179.77,200.58,35.216507,22.012009,38.049051,11.307838,4.741279,...,NaN,NaN,NaN,59.238564,NaN,0.0913,26.086491,62.464000,3.003346,25.224246
138,Zimbabwe,41.876696,35.542457,88.75,106.25,39.892345,36.268295,27.214542,6.918188,5.690179,...,NaN,NaN,NaN,64.511616,NaN,NaN,36.891731,60.294000,1.549759,22.112535

In [21]:
# Dealing with NaN values: Impute column mean for NaN values
wdi_hpi_2016_df = wdi_hpi_2016_df.fillna(wdi_hpi_2016_df.mean())

### Split and save datasets

In [22]:
# Save preprocessed DataFrame
wdi_hpi_2016_df.to_pickle('../data/wdi_hpi_2016_df.pkl')

In [23]:
# Separate preprocessed DataFrame into groups for individual regression models
# i. e. separate df for economic variables, environmental variables, ...
for group in chosen_columns['Manual Group'][chosen_columns['Manual Group'].isnull() == False].unique():
    file_name = '../data/wdi_hpi_2016_' + group + '.pkl'
    keep_columns = ['Country Name', 'Happy Planet Index']
    for ind in chosen_columns['Indicator Code'][chosen_columns['Manual Group'] == group]:
        keep_columns.append(ind)
    group_df = drop_columns(wdi_hpi_2016_df, keep_columns)
    group_df.to_pickle(file_name)